    @import url('raster2.css');
    body {
        position: absolute;
        width: 1440px;
        margin-left: -0.1%;
    }
    
    .header {
        background-image: url('img/primeira.jpg');
        width: 1200px;
        height: 700px;
    }
    
    .menu #menul {
        padding: 5px 5px;
        margin: 5px;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 14px;
        margin-left: 10%;
    }
    
    .menu {
        display: grid;
        columns: 1;
    }
    
    .menu ul li a {
        padding: 10px 3px;
        margin: 5px;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
    }
    
    .menu ul li {
        display: inline-block;
    }
    
    .menu #menur {
        padding: 5px 5px;
        margin: 2px;
        color: #fff;
        text-decoration: none;
        margin-left: 70%;
        margin-top: -4.5%;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 14px;
    }
    
    .logo img {
        width: 200px;
        height: 50px;
        margin-left: 13%;
    }
    
    .btn-anu a {
        display: inline-block;
        text-decoration: none;
        background-color: #00CD45;
        color: #fff;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        padding: 20px 25px;
        margin-left: 72.5%;
    }
    
    .titulo {
        height: 192px;
        width: 563px;
        color: #FFFFFF;
        font-family: "Trade Gothic Next LT Pro";
        font-size: 50px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 64px;
        margin-left: 10%;
    }
    
    .menuf {
        background-color: #FFFFFF;
        width: 60%;
        padding: 5px 5px;
        margin: 5px;
        text-decoration: none;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 14px;
        margin-left: 18%;
        margin-top: 17.5%;
        box-shadow: 0 4px 15px 0 rgba( 0, 0, 0, 0.7);
    }
    
    .menuf ul li a {
        display: grid;
        padding: 5px 20px;
        margin: 5px;
        color: rgb(51, 51, 51);
        text-decoration: none;
        font-weight: 500;
    }
    
    .menuf ul li {
        display: inline-block;
        grid-auto-flow: row;
    }
    /*main*/
    
    .content {
        width: 1200px;
        justify-items: center;
    }
    
    .boxs {
        display: grid;
        margin-top: 5%;
        grid-row: 1;
        height: 15%;
        width: 1200px;
    }
    
    .boxs ul li {
        display: grid;
        grid-row: 1;
    }
    
    .box {
        display: grid;
        width: 225px;
        background: #fff;
        margin: 10px 10px 10px 10px;
        border: 0.1px solid #ebebebad;
        border-radius: 2px;
        position: relative;
    }
    
    .box:hover {
        transition: 1s;
        background-color: #000000;
        color: #fff;
    }
    
    .box h4 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }
    
    .box img {
        width: 100%;
        height: 150px;
    }
    
    .anuncios {
        display: grid;
        grid-row: 1;
        grid-auto-flow: column;
        width: 1200px;
        height: 500px;
    }
    
    .h1anu {
        margin-left: 5%;
        font-size: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .anuncio {
        grid-auto-flow: row;
        border: 1px solid #bbbbbbad;
        margin: 10px 5px 20px 10px;
        height: 293px;
        width: 290px;
        padding: 20px 20px 90px 20px;
    }
    
    .anuncio small {
        color: rgb(139, 139, 139);
        text-align: justify;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .anuncio h3 {
        text-align: justify;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        font-weight: 100;
    }
    
    .bold {
        font-weight: bold;
    }
    
    .anuncio img {
        width: 100%;
    }
    
    .btn-anun {
        display: inline-block;
        text-decoration: none;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        padding: 10px 15px;
        border: 1px solid #bbbbbbad;
        margin: 3px 7px 10px 3px;
    }
    
    .black-btn {
        background-color: #000000;
        color: #fff !important;
    }
    
    .black-btn:hover {
        transition: 0.5s;
        background-color: #ffffff;
        color: rgb(0, 0, 0) !important;
    }
    
    .white-btn {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
    }
    
    .white-btn:hover {
        transition: 0.5s;
        background-color: #000000;
        color: #fff;
    }
    
    .an {
        background-image: url('img/segunda.jpg');
        width: 1400px;
        height: 600px;
        margin-top: -1%;
    }
    
    .titulos {
        height: 192px;
        width: 563px;
        color: #FFFFFF;
        font-family: "Trade Gothic Next LT Pro";
        font-size: 35px;
        font-weight: bold;
        /* letter-spacing: 0;*/
        /* line-height: 64px;*/
        margin-left: 10%;
    }
    
    .texto {
        height: 192px;
        width: 563px;
        color: #FFFFFF;
        font-family: "Trade Gothic Next LT Pro";
        font-size: 23px;
        /* letter-spacing: 0;*/
        /* line-height: 64px;*/
        margin-left: 10%;
    }
    
    .botao {
        display: inline-block;
        text-decoration: none;
        background-color: #00CD45;
        color: #fff;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        padding: 20px 25px;
        margin-left: 10%;
        margin-top: -8%;
    }